---
---

@import "{{ site.theme }}";

header {
    // background-color: #223631;
    border-left: 5px solid #CEDEF2;
    padding: 20px;
}

body {
    // background-color: #262626; /* Dark background */
    color: #f2f2f2; /* Light grey text */

    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

section {
    flex: 1; /* The "Predicting Media..." section will take up the rest of the space */
    padding: 5px;
}
  
a {
    color: #69bfb7; /* Light green for links */
}

/* Optionally, customize font usage for specific elements */
h1, h2, h3 {
    font-family: Geneva, Tahoma, sans-serif; /* Geneva with fallbacks */
}

h1 {
    font-size: 28px;
    color: #7673d9;
}
 
h2 {
    color: #ada2f2;
}

p {
    font-family: Geneva, sans-serif; /* Geneva as the primary font for paragraphs */
}
  
footer {
    background-color: #333333; /* Darker grey for footer */
}

// Dropdown Button Styles
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #F2D1C9;
    padding: 16px;
    font-size: 16px;
    font-family: Geneva, sans-serif;
    border: none;
    cursor: pointer;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #262626;
    border-left: 2px dotted #F2D1C9;
    min-width: 200px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }