---
---

@import "{{ site.theme }}";

header {
    background-color: #223631;
    border-width: 2px;
    border-style: dashed;
    border-color: #CEDEF2;
}

body {
    background-color: #262626; /* Dark background */
    color: #f2f2f2; /* Light grey text */

    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

section {
    flex: 1; /* The "Predicting Media..." section will take up the rest of the space */
    padding: 20px;
}
  
a {
    color: #bb86fc; /* Light purple for links */
}

/* Optionally, customize font usage for specific elements */
h1, h2, h3 {
    font-family: Geneva, Tahoma, sans-serif; /* Geneva with fallbacks */
}
  
p {
    font-family: Geneva, sans-serif; /* Geneva as the primary font for paragraphs */
}
  
footer {
    background-color: #333333; /* Darker grey for footer */
}

